<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="./styles.css" rel="stylesheet">
    <title>Password recovery</title>
</head>
<body>
    <div class="recovery">
        <h1>Please check your mailbox</h1>
        <p>Please check the mailbox of the email address you provided. If you indeed have an account with us, with the provided email address, you should receive an email from us containing a link to reset your password.</p>                
        <p>Please don't hesitate to contact us if you have any problems!</p>
        <div class="buttons">
            <button type="button" class="btn btn-success">Homepage</button>
            <button type="button" class="btn btn-warning">Contact Us</button>
        </div>
    </div>
</body>
</html>